
/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: yellowgreen;
    height: 100vh;
    
}

main{
    height: 90%;
}

footer{
    height: 74px;
    background-color: #222222;
    
}

.contenitore{
    width: 93%;
    margin: 0 auto;
    
}

.flex{
    display: flex;
    flex-wrap: wrap;
}


.contenitore-nero{
    background-color: black;
    padding: 3.3rem;
    height: 90vh;
    overflow-x: auto;
    
}


section.img-contenitore img{
    margin: 0.5rem 0.3rem;
}

.img-contenitore{
    position: relative;
}

.nome-ospite{
    color: white;
    background-color: gray;
    padding: .2rem .4rem;
    font-size: .9rem;
    position: absolute;
    left: 5px;
    bottom: 2rem;
}